<% include head %>

<div class="container">
    <div class="about">
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>Planet 1기 어플?</strong></h4>
        <br>
        <p>
            &nbsp;매번 생일 챙기랴, 몇층에서 일하느냐 묻지말고 따지지말고 플래닛답게 어플로 해결할 수 있도록 만들었어요.
        </p>
        <hr>
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>무엇으로 만들었나?</strong></h4>
        <br>
        <p>
            &nbsp; android, nodejs, jquery 그리고 제일 중요한 Parse ! 사실 Parse.com 서비스를 체험하기 위해서 만들어 본 동기어플입니다.
        </p>
        <hr>
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>앞으로는?</strong></h4>
        <br>
        <p>
            &nbsp;기획, 디자인, 프론트엔드, 백엔드, 안드로이드 모두를 혼자서 하려니 많이 부족한게 사실입니다. 우리 동기들의 힘을 믿으니까! 차근차근 하나씩 개선해 나갈 예정입니다.
        </p>
    </div>
</div>
</body>
</html>
