<% include head %>

<div class="container">
    <div class="about">
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>Planet 1기 어플?</strong></h4>
        <br>
        <p>
            &nbsp;플래닛 답게 동기들 생일이나, 연락처를 좀 더 스마트하게 공유 할 수 있을까라는 생각으로 만든 어플리케이션입니다.
        </p>
        <hr>
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>무엇으로 만들었나?</strong></h4>
        <br>
        <p>
            Backend : Parse.com을 사용하여 DB, User 그리고 Push server를 구축<br>
            Frontend : Bootstrap을 기반으로 제작
        </p>
        <hr>
        <i class="icon-quote-left pull-left"></i>
        <h4><strong>앞으로는?</strong></h4>
        <br>
        <p>
            &nbsp;사실 기술적이슈보다 디자인이나 사업적 측면이 많이 모자란게 사실입니다.<br>
            좀 더 추가 시키고 싶은 기능, 예쁘게 만들고 싶은 부분이 있으면 언제든지 환영입니다.
            아직은 많이 부족하지만 동기들과 함께 만들어 나가는 어플이 되었으면 좋겠습니다.
        </p>
    </div>
</div>
</body>
</html>