<% include head %>

<div data-role="container">
    <div class="birthdays" style="display: none;">
        <div class="1 birthday_list">
            1월
        </div>
        <div class="2 birthday_list">
            2월
        </div>
        <div class="3 birthday_list">
            3월
        </div>
        <div class="4 birthday_list">
            4월
        </div>
        <div class="5 birthday_list">
            5월
        </div>
        <div class="6 birthday_list">
            6월
        </div>
        <div class="7 birthday_list">
            7월
        </div>
        <div class="8 birthday_list">
            8월
        </div>
        <div class="9 birthday_list">
            9월
        </div>
        <div class="10 birthday_list">
            10월
        </div>
        <div class="11 birthday_list">
            11월
        </div>
        <div class="12 birthday_list">
            12월
        </div>

    </div>
    <% include loading %>

    <script type="text/javascript">
        $(document).ready(function(){
            renderBirthday();
        });
    </script>
</div>
</body>

</html>