<% include head %>

<body>
<div id="main">
    <div data-role="page" id="comment">
        <div data-theme="a" data-role="header">
            <h3>SKPlanet 1</h3>
        </div>
        <div id="comments_plugin1"></div>
    </div>
    <% include pageloadScript %>
    <script type="text/javascript">
        comment();
    </script>

</div>
</body>

</html>