<% include head %>

<div class="container">
    <div class="comments">
        <div id="comments_plugin1"></div>
        <script src="http://comments.skplanetx.com/script/plugin.js"></script>
        <script type="text/javascript">
            SKP.commentsPlugin({
                // id of DOM element where you want to display comments
                target_id: 'comments_plugin1',
                op_app_key: 'e0cde248-a801-36db-aa9f-0cbf2d259e41',
                is_responsive: true,
                page_id: 'http://skp.tokabout.com/comment'
            });
        </script>
    </div>
</div>
</body>

</html>
