<% include head %>

<div class="container">
    <div class="comments">
        <p>* 댓글 플러그인의 오류인하여 아래 <strong>댓글 모두 보기</strong>를 눌러줘야지 댓글이 표시 됩니다.</p>
        <div id="comments_plugin1"></div>
        <script src="http://comments.skplanetx.com/script/plugin.js"></script>
        <script type="text/javascript">
            SKP.commentsPlugin({
                // id of DOM element where you want to display comments
                target_id: 'comments_plugin1',
                op_app_key: 'e0cde248-a801-36db-aa9f-0cbf2d259e41',
                is_responsive: true
            });
        </script>
    </div>
</div>
</body>

</html>