<% include head %>

<div class="container" style="padding: 0px 20px;">
    <h4>2013 회비정산</h4>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 70%">이름</th>
                <th>납부</th>
            </tr>
        </thead>
        <tbody class="fee_list">

        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function(){
            feeget();
        });
    </script>
</div>
</body>

</html>