<% include head %>

<div class="container">
    <div class="fee" style="min-height: 500px;">
    <h4 style="text-align: center">2013 회비정산</h4>
    <h6>하나은행 이유정 201-910010-73605</h6>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 70%">이름</th>
                <th>납부</th>
            </tr>
        </thead>
        <tbody class="fee_list">

        </tbody>
    </table>
    </div>
    <% include loading %>

    <script type="text/javascript">
        $(document).ready(function(){
            renderFee();
        });
    </script>
</div>
</body>

</html>
