<% include head %>

<div class="container">
    <div class="main_menu" onclick="movePage('member')">
        <i class="icon-group icon-3x"></i><br><hr>
        Member
    </div>
    <div class="main_menu" onclick="movePage('birthday')">
        <i class="icon-calendar icon-3x"></i><br><hr>
        Birthday
    </div>
    <div class="main_menu" onclick="movePage('comments')">
        <i class="icon-comments icon-3x"></i><br><hr>
        Comment
    </div>
    <div class="main_menu" onclick="movePage('fee')">
        <i class="icon-credit-card icon-3x"></i><br><hr>
        Fee
    </div>
    <div class="main_menu" onclick="movePage('push')">
        <i class="icon-bullhorn icon-3x"></i><br><hr>
        Push
    </div>
    <div class="main_menu" onclick="movePage('about')">
        <i class="icon-quote-left icon-3x"></i><br><hr>
        About
    </div>
</div>

</body>

</html>