<% include head %>

<div class="container">
    <div class="main_menu" onclick="location.href='/member'">
        <i class="icon-group icon-3x"></i><br><hr>
        Member
    </div>
    <div class="main_menu" onclick="location.href='/birthday'">
        <i class="icon-calendar icon-3x"></i><br><hr>
        Birthday
    </div>
    <div class="main_menu" onclick="location.href='http://comments.skplanetx.com/m/000012013030318493700A00058?page_id=http%3A%2F%2Fskp.tokabout.com&page_url=http%3A%2F%2Fskp.tokabout.com&page_title=SKPlanet%201&host_login_url=&host_logout_url='">
        <i class="icon-comments icon-3x"></i><br><hr>
        Comment
    </div>
    <div class="main_menu" onclick="location.href='/fee'">
        <i class="icon-credit-card icon-3x"></i><br><hr>
        Fee
    </div>
    <div class="main_menu" onclick="location.href='/push'">
        <i class="icon-bullhorn icon-3x"></i><br><hr>
        Push
    </div>
    <div class="main_menu" onclick="location.href='/about'">
        <i class="icon-quote-left icon-3x"></i><br><hr>
        About
    </div>

    <script type="text/javascript">
        var link = function(url) {
            location.href= "";
        }
    </script>
</div>

</body>

</html>