<% include head %>
<div data-role="container">
    <div class="members" style="display: none;">
        <div class="1983 member_list">
            1983년
        </div>
        <div class="1984 member_list">
            1984년
        </div>
        <div class="1985 member_list">
            1985년
        </div>
        <div class="1986 member_list">
            1986년
        </div>
        <div class="1987 member_list">
            1987년
        </div>
        <div class="1988 member_list">
            1988년
        </div>
        <div class="1989 member_list">
            1989년
        </div>
    </div>
    <div class="member_line"></div>
    <div class="loading">
        <i class="icon-spinner icon-spin icon-2x"></i><br>
        <p>Loading</p>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
           memberget();
        });
    </script>
</div>
</body>

</html>