<% include head %>

<div data-role="content">
    <div class="push" style="text-align: center">
        <p>* 동기 모두에게 푸시알람이 전송됩니다.</p>
        <textarea class="pushContents" style="width: 80%"></textarea>
        <input type="button" class="sendPush btn btn-large btn-info" value="보내기">
    </div>
</div>

<script type="text/javascript">
    $('.sendPush').click(function() {
        sendPush('<%= username %>');
    });
</script>

</body>

</html>