<% include head %>

<div data-role="content">
    <h4 style="text-align: center">Push Push Baby</h4>
    <br>
    <textarea class="pushContents" style="width: 80%"></textarea>
    <input type="button" class="sendPush btn btn-large btn-info" value="보내기">
</div>

<script type="text/javascript">
    $('.sendPush').click(function() {
        sendPush();
//        // $('.pushContents').val()
//        Parse.Push.send({
//            channels: ["skp"],
//            data: {
//                alert: $('.pushContents').val(),
//                title: "SK Planet 1기"
//            }
//        }, {
//            success: function() {
//                alert('push to message!');
//            },
//            error: function(error) {
//                // iOS 예외인 경우 그냥 성공으로 처리
//                // iOS 예외처리가 제대로 안되서 그냥 모두에게 보내고 115 에러 메세지는 그냥 성공으로 간주
//                if(error.code == 115) {
//                    alert('push to message!');
//                } else {
//                    alert(error.message);
//                }
//            }
//        });
    });
</script>

</body>

</html>